ase==3.20.1
ipdb==0.13.4
matplotlib==3.3.2
mdshare==0.4.1
mdtraj==1.9.5
moleculekit==0.8.3
networkx==2.5
numpy==1.21.4
pandas==1.1.3
pyEMMA
scikit_learn
scipy==1.5.2
setuptools
sidechainnet==0.7.0
sigopt==5.7.0
statsmodels==0.12.2
torch==1.10.0
torch_scatter==2.0.9
tqdm==4.54.0
packaging
